ul.CustomEventsList {
  margin: 0px 0px 0px 0px;
  width: max-content;
}
i.far.fa-calendar-alt {
  margin-right: 5px;
  color: @primary-color;

}
i.far.fa-check-square{
  margin-right: 5px;
  color: @primary-color;
}
