@media (max-width: 767px){
    .fc-toolbar-chunk {
        margin: 10px 5px 0px 0px;
        display: flex;
   }
}
@media (max-width: 400px){
    .fc-toolbar-chunk {
        transform: scale(0.7);
   }
}
@media (max-width: 399px){
    .fc-toolbar-chunk {
        display: grid;
   }
    .fc-prev-button.fc-button.fc-button-primary,
    .fc-next-button.fc-button.fc-button-primary {
        margin-top: 10px;
   }
}